# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# https://editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
# insert_final_newline = false
indent_style = space
indent_size = 4

# C# files
[*.cs]
indent_style = tab

# SYSLIB1045: RegexGenerator limitation reached.
dotnet_diagnostic.SYSLIB1045.severity = silent
# Use COALESCE expression
dotnet_diagnostic.IDE0270.severity = silent

resharper_move_local_function_after_jump_statement_highlighting = none;
resharper_move_local_function_after_jump_statement = false;
resharper_static_member_in_generic_type_highlighting = none;
resharper_virtual_member_call_in_constructor_highlighting = none;
resharper_inconsistently_synchronized_field_highlighting = hint;
resharper_redundant_type_declaration_body_highlighting = none;
resharper_separate_local_functions_with_jump_statement_highlighting = none;
resharper_convert_to_primary_constructor_highlighting = none;

resharper_csharp_naming_rule.private_constants = AA_BB;
resharper_csharp_naming_rule.constants = AaBb;
resharper_csharp_naming_rule.private_static_readonly = _+aaBb;