name: Pack

on:
  push:
    tags: 
    - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore Euonia.Build.slnx
    - name: Build
      run: dotnet build Euonia.Build.slnx --no-restore --configuration Release
    - name: Pack
      run: dotnet pack Euonia.Build.slnx -c Release -o artifacts/ 
    - name: Publish NuGet
      run: dotnet nuget push artifacts/*.nupkg --api-key ${{secrets.NUGET_API}} --source https://api.nuget.org/v3/index.json --skip-duplicate
